  <mat-selection-list #users>
    <mat-list-option 
    *ngFor="let user of usersList; let i=index"
    [ngClass]="{'grey':i%2 === 0}">
      <div>         
        <span class="home-component">{{i}} - {{user.name}}</span>      
        <span class="home-component"> |{{user.username}} | {{user.email}}| 
          {{user.phone}} | {{user.website}} </span>
        <span *ngIf="user.role === 'Admin'" class="admin">{{user.role}}</span>   
      </div>   
     </mat-list-option>
  </mat-selection-list>
  
  <p>
    Options selected: {{users.selectedOptions.selected.length}}
  </p> 
  

 