<div class="line">
  <mat-form-field appearance="outline">
    <mat-label>Sort users</mat-label>
    <mat-select #list (selectionChange)="sort(list.value)">
      <mat-option value='0'>Від А До Я</mat-option>
      <mat-option value='1'>Від Я До А</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Пошук</mat-label>
    <input matInput placeholder="Знайти користувача" #input (keyup.enter)="search(input.value)">
    <mat-icon matSuffix (click)="search(input.value)">search</mat-icon>
  </mat-form-field>
</div>

<mat-selection-list #users>
  <mat-list-option *ngFor="let user of usersList; let i=index" [ngClass]="{'grey':i%2 === 0}">
    <div>
      <span class="home-component">{{i}} - {{user.name}}</span>
      <span class="home-component"> |{{user.username}} | {{user.email}}|
        {{user.phone}} | {{user.website}} </span>
      <span *ngIf="user.role === 'Admin'" class="admin">{{user.role}}</span>
    </div>
  </mat-list-option>
</mat-selection-list>

<p>
  Options selected: {{users.selectedOptions.selected.length}}
</p>