.home-component{   
    width: 650px;  
    display: inline-flexbox;   
} 

.grey{
    background-color:grey;
}

.line{
    margin-trim: 0px;
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;   
} 

.footer {
    align-items: center;
}

.btn{
    height: 75;
}